/* Turn off the incremental arrows on the number input 
   This is for Opera, Exporer, etc. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

th{
    font-weight: normal;
}

.container-padding {
    padding-left: 3%;
    padding-right: 3%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.img-table-preview {
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
}

.product-info-details {
    margin-bottom: 0;
}