<div class="col mb-4 item">
    <div class="card h-100 item-rounded">
        <div *ngIf="isClickable" routerLink="/item/id/{{item.id}}">
            <app-image [itemImage]="item.image"></app-image>
            <div class="card-body">
                <div class="text-center">
                    <p>{{item.name | shorten:[24, '...'] }}</p>
                    <p>{{item.price | currency}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="!isClickable">
            <app-image *ngIf="src == ''" [itemImage]="item.image"></app-image>
            <img class="card-img-top" *ngIf="src != ''" [src]="src"/>
            <div class="card-body">
                <div class="text-center">
                    <p>{{item.name | shorten:[24, '...'] }}</p>
                    <p>{{item.price | currency}}</p>
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0 bg-transparent text-center">
            <!-- If the user is logged in -->
            <div *ngIf="isSessionAuthed; else sessionNotAuthed">
                <div *ngIf="!isItemInCart; else itemInCart">
                    <button class="btn btn-outline-success mt-auto" [disabled]="isLoading || !isClickable" (click)="addToCart()">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Add To Cart
                    </button>
                </div>
                <ng-template #itemInCart>
                    <p>This item is in your cart</p>
                </ng-template>
            </div>
            <ng-template #sessionNotAuthed>
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Log in to add this to your cart.">
                    <button class="btn btn-outline-secondary mt-auto" style="pointer-events: none;" type="button" disabled>
                        Add To Cart
                    </button>
                </span>
            </ng-template>
        </div>
    </div>
</div>
