<div class="col mb-4">
    <div class="card h-100">
        <div routerLink="/item/id/{{item.id}}">
            <app-image [itemImage]="item.image"></app-image>
            <div class="card-body">
                <div class="text-center">
                    <p>{{item.name | shorten:[24, '...'] }}</p>
                    <p>{{item.price | currency}}</p>
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0 bg-transparent text-center">
            <!-- If the user is logged in -->
            <div *ngIf="isSessionAuthed; else sessionNotAuthed">
                <div *ngIf="!isItemInCart; else itemInCart">
                    <button class="btn btn-outline-primary mt-auto" [disabled]="isLoading" (click)="addToCart()">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Add To Cart
                    </button>
                </div>
                <ng-template #itemInCart>
                    <p>This item is in your cart</p>
                </ng-template>
            </div>
            <ng-template #sessionNotAuthed>
                <p>Please log in to your account to add to your cart</p>
            </ng-template>
        </div>
    </div>
</div>