<div class="container">
    <h3 class="row">Cart</h3>
    <div class="row">
        <ul>
            <div *ngFor="let cartItem of cartItems" class="card">
                <div class="card">
                    <app-cart-item [cartItem]="cartItem"></app-cart-item>
                </div>
            </div>
        </ul>
    </div>
    <div class="row">
        <p>Subtotal: {{subtotal | currency}}</p>
    </div>
    <div *ngIf="cartItems.length >= 1" class="row">
        <button class="btn btn-primary col-2" routerLink="/new-order">Make an Order</button>
    </div>
</div>