.crop-preview {
   object-fit: cover;
   width: 50%;
   height: 50%;
   margin-right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   transition: all .1s ease-in-out;
}