<div class="jumbotron py-5">
   <div class="container shadow-sm py-4 container-padding">
      <div class="row">
         <div class="row py-3">
            <div class="float-start">
               <h4>Upload Image</h4>
            </div>
         </div>
         <div class="row">
            <div class="col-6">
               <form (ngSubmit)="uploadImage()" #newItemForm="ngForm">
                  <div class="form-group">
                     <label for="name">Name</label>
                     <div class="input-group mb-3">
                        <input type="text" class="form-control" id="name" required [(ngModel)]="newImage.name" name="name">
                        <span class="input-group-text">{{newImage.fileExtension}}</span>
                     </div>
                  </div>
                  <div class="form-group mb-3">
                     <label for="type">Type</label>
                     <select class="form-control" id="type"
                        required
                        [(ngModel)]="newImage.type" name="type">
                        <option *ngFor="let type of types" [value]="type">{{typeLabelMapping[type]}}</option>
                     </select>
                  </div>
                  <button [disabled]="isLoading" class="btn btn-primary" type="submit">
                     <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                     Upload
                  </button>
               </form>
            </div>
            <div class="col-6">
                <!-- <app-image [editMode]="true" (selectedImageEvent)="setRawImage($event)"></app-image> -->
                <input type="file" (change)="setRawImage($event)" />
                <image-cropper
                  [imageChangedEvent]="rawImage"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="3 / 4"
                  [canvasRotation]="canvasRotation"
                  [transform]="imageTransform"
                  format="png"
                  (imageCropped)="($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="initCropper()"
                  (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
                <img [src]="cropPreview" />
                <button class="btn btn-primary" type="button">
                  <svg class="bi bi-windows" width="32" height="32" fill="currentColor">
                   </svg>                   
                </button>
            </div>
         </div>
      </div>
   </div>
</div>