<div class="container py-5">
    <div class="row text-center" @fade>
        <h1>Register</h1>
    </div>
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
        <form (ngSubmit)="registerUser()" #newUserForm="ngForm">
            <div class="form-group form-floating mb-3">
                <input type="email" class="form-control" id="email" required
                    placeholder="name@example.com"
                    [(ngModel)]="newUserInfo.email" name="email">
                <label for="email" class="text-muted">Email</label>
            </div>
            <div class="form-group form-floating mb-3">
                <input type="password" class="form-control" id="password" required
                    placeholder="password"
                    [(ngModel)]="newUserInfo.password" name="password">
                <label for="password" class="text-muted">Password</label>
            </div>
            <div class="form-group form-floating mb-3">
                <input type="firstname" class="form-control" id="firstname" required
                    placeholder="First Name"
                    [(ngModel)]="newUserInfo.firstname" name="firstname">
                <label for="firstname" class="text-muted">First Name</label>
            </div>
            <div class="form-group form-floating mb-3">
                <input type="lastname" class="form-control" id="lastname" required
                    placeholder="Last Name"
                    [(ngModel)]="newUserInfo.lastname" name="lastname">
                <label for="lastname" class="text-muted">Last Name</label>
            </div>
            <div class="form-group form-floating mb-3">
                <button [disabled]="isLoading" class="btn btn-success">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>