<div class="row">
    <h1>Register</h1>
</div>
<div class="row">
    <div class="col-6">
        <form [formGroup]="newUserForm" (ngSubmit)="registerUser()">
            <label for="email">Email: </label>
            <input id="email" type="text" formControlName="email" [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }" />
            <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">An email is required.</div>
                <div *ngIf="f.email.errors.email">Must be a valid email.</div>
            </div>

            <label for="password">Password: </label>
            <input id="password" type="text" formControlName="password" [ngClass]="{ 'is-invalid': isSubmitted && f.password.errors }" />
            <div *ngIf="isSubmitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">A password is required.</div>
                <div *ngIf="f.password.errors.minLength">The password must be longer than 3 characters.</div>
            </div>

            <label for="firstname">First Name: </label>
            <input id="firstname" type="text" formControlName="firstname" [ngClass]="{ 'is-invalid': isSubmitted && f.firstname.errors }" />
            <div *ngIf="isSubmitted && f.firstname.errors" class="invalid-feedback">
                <div *ngIf="f.firstname.errors.required">A first Name is required.</div>
                <div *ngIf="f.firstname.errors.maxLength">The first name must not exceed 20 characters.</div>
            </div>

            <label for="lastname">Last Name: </label>
            <input id="lastname" type="text" formControlName="lastname" [ngClass]="{ 'is-invalid': isSubmitted && f.lastname.errors }" />
            <div *ngIf="isSubmitted && f.lastname.errors" class="invalid-feedback">
                <div *ngIf="f.lastname.errors.required">A last Name is required.</div>
                <div *ngIf="f.lastname.errors.maxLength">The last name must not exceed 20 characters.</div>
            </div>

            <div class="form-group">
                <button [disabled]="isLoading" class="btn btn-primary">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>