<div class="row">
    <div class="col-6">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <label for="name">Name: </label>
            <input id="name" type="text" formControlName="name">

            <label for="price">Price: </label>
            <input id="price" type="number" formControlName="price">

            <label for="description">Description: </label>
            <input id="description" type="text" formControlName="description">

            <label for="state">State: </label>
            <select id="state" formControlName="state">
                <option *ngFor="let state of states" [value]="state">{{stateLabelMapping[state]}}</option>
            </select>

            <button type="submit" [disabled]="!itemForm.valid">Submit</button>
        </form>
    </div>
</div>