<div class="jumbotron py-5">
   <div class="container shadow-sm py-4 container-padding">
       <div class="row">
           <div class="row py-3">
               <div class="float-start">
                   <h4>Image Table</h4>
               </div>
           </div>
           <div class="col-9">
               <div class="row">
                   <table class="table table-hover table-sm">
                       <thead>
                           <tr class="d-flex">
                               <th class="text-muted col-1" scope="col">Selected</th>
                               <th class="text-muted col-1" scope="col">#</th>
                               <th class="text-muted col-2" scope="col">Picture</th>
                               <th class="text-muted col-4" scope="col">Name</th>
                               <th class="text-muted col-4" scope="col">Type</th>
                           </tr>
                       </thead>
                       <tbody *ngIf="this.images.length > 0">
                           <tr class="d-flex" *ngFor="let image of images" (click)="viewImage(image)">
                               <td class="col-1">
                                 <input type="checkbox" (change)="onSelect($event, image.id)">
                               </td>
                               <td class="col-1">
                                 <p>{{image.id}}</p>
                               </td>
                               <td class="col-2">
                                   <img [src]="(image | image | async)" class="rounded img-table-preview">
                               </td>
                               <td class="col-4">
                                 <p>{{image.name}}</p>
                               </td>
                               <td class="col-4">
                                 <p>{{typeLabelMapping[image.type]}}</p>
                               </td>
                           </tr>
                           <tr routerLink="/image/create">
                              <td class="text-muted">Upload New Image...</td>
                           </tr>
                       </tbody>
                       <tbody *ngIf="images.length == 0">
                           <app-placeholder-object [type]="placeHolderTypes.TableRow"></app-placeholder-object>
                           <tr routerLink="/image/create">
                               <td class="text-muted">Upload New Image...</td>
                           </tr>
                       </tbody>
                   </table>
               </div>
           </div>
           <div class="col-3">
               <div class="row">
                   <div class="col-1"></div>
                   <div class="col-10 mx-auto" *ngIf="editedImage as image">
                       <form>
                            <div class="form-group mb-3">
                                <label class="form-label" for="preview">Preview</label>
                                <img [src]="(image | image | async)" class="rounded img-table-side-preview">
                            </div>
                           <div class="form-group">
                                <label class="form-label" for="name">Name</label>
                                <div class="input-group mb-3">
                                    <input name="name" id="name" class="form-control" type="text" [(ngModel)]="image.name">
                                    <span class="input-group-text">{{image.fileExtension}}</span>
                                </div>
                           </div>
                           <div class="form-group mb-3">
                               <label for="type">Type</label>
                               <select class="form-control" id="type"
                                       required
                                       [(ngModel)]="image.type" name="type">
                                   <option *ngFor="let type of types" [ngValue]="type">{{typeLabelMapping[type]}}</option>
                               </select>
                           </div>
                           <div class="row">
                               <button class="btn btn-outline-primary" (click)="saveChanges()">Save Changes</button>
                               <button class="btn btn-outline-danger" (click)="deleteImage(image.id)">Delete</button>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
           <div class="row my-2">
               <div class="col-2">
                   <button class="btn btn-outline-danger" *ngIf="selectedImageIds.length > 0" (click)="deleteSelected()">Delete</button>
               </div>
           </div>
       </div>
   </div>
</div>