.landing-section {
    padding-top: 15rem;
    padding-bottom: 20rem;
}

.img-container {
    display: flex;
}

.hoverable:hover {
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-in-out;
}