<div class="px-0 mx-0 col" *ngIf="isClickable" routerLink="/item/list/{{category.id}}" @fade>
    <div class="img-container">
        <img [src]="(category.image | image | async)" class="hover-shadow img-item-preview">
        <div class="container-fluid overlay-text overlay-text-hover img-container">
            <h4 class="text text-light">View All {{category.name}}</h4>
        </div>
    </div>
    <p class="below-text font-weight-light text-muted">{{category.name}}</p>
</div>
<div class="px-0 mx-3 col" *ngIf="!isClickable">
    <div class="img-container">
        <img *ngIf="src == ''" [src]="(category.image | image | async)" class="hover-shadow img-item-preview">
        <img *ngIf="src != ''" [src]="src" class="hover-shadow img-item-preview">
        <div class="container-fluid overlay-text overlay-text-hover img-container">
            <h4 class="text text-light">{{category.name}}</h4>
        </div>
    </div>
</div>
