<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto justify-content-center"> 
            <!-- Base Menus -->
            <li class="nav-item">
                <a class="nav-link active" routerLink="/item/list">Catalog</a>
            </li>

            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link active" routerLink="/cart">Cart</a>
            </li>
       
            <a class="navbar-brand" routerLink="">
                <img src="../../../assets/img/placeholder-logo.png" alt="" width="30" height="30">
            </a>

            <li class="nav-item dropdown" *ngIf="isLoggedIn">
                <a class="nav-link dropdown-toggle active" href="#" id="accountDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="accountDropdown">
                    <a class="nav-link active" routerLink="/profile">Profile</a>
                    <a class="nav-link active" routerLink="/order-list">Orders</a>
                </div>
            </li> 

            <li class="nav-item dropdown" *ngIf="showAdminMenus">
                <a class="nav-link dropdown-toggle active" href="#" id="adminDropDown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="adminDropDown">
                    <a class="nav-link active" routerLink="/all-orders-list">All Orders</a>
                    <a class="nav-link active" routerLink="/item/create">Create Item</a>
                    <a class="nav-link active" routerLink="/user/list">User List</a>
                </div>
            </li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link active" *ngIf="!isLoggedIn" routerLink="/user/login">Sign In</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link active" *ngIf="!isLoggedIn" routerLink="/user/register">Register</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link active" *ngIf="isLoggedIn" (click)="logout()">Log Out</a>
            </li> 
        </ul>
    </div>
</nav>