<div class="container">
    <div class="row">
        <div class="col-6">
            <form (ngSubmit)="createCategory()" #newCategoryForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" required
                        [(ngModel)]="category.name" name="name">
                </div>
                <button [disabled]="isLoading" class="btn btn-primary" type="submit">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                    Create
                </button>
            </form>
        </div>
    </div>
</div>