<div class="container">
    <h3>Users</h3>
    <ul>
        <div *ngFor="let user of users">
            <div class="card" routerLink="/user/id/{{user.id}}">
                <div class="card-header">
                    User
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{user.username}}</h5>
                    <p>{{user.email}}</p>
                    <p>{{user.firstname}}</p>
                    <p>{{user.lastname}}</p>
                </div>
            </div>
        </div>
    </ul>
</div>