<div class="container py-5 ">
    <div class="row text-center">
        <h1>Sign In</h1>
    </div>
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <form (ngSubmit)="login()" #userLoginForm="ngForm">
                <div class="form-group form-floating mb-3">
                    <input type="email" class="form-control" id="email" 
                        placeholder="name@example.com"
                        required
                        [(ngModel)]="userInfo.email" name="email">   
                    <label for="email">Email</label> 
                </div>
                <div class="form-group form-floating mb-3">
                    <input type="password" class="form-control" id="password" 
                        placeholder="password"
                        required
                        [(ngModel)]="userInfo.password" name="password"> 
                    <label for="password">Password</label> 
                </div>
                <div class="form-group">
                    <button [disabled]="isLoading" class="btn btn-primary">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                    <a routerLink="../register" class="btn btn-link">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>