<div class="container">
    <h3>Items</h3>
    <ul>
        <div *ngFor="let item of items" class="card">
            <div class="card">
                <div class="card-header">
                    Item
                </div>
                <div class="card-body">
                    <h5 class="card-title" routerLink="/item/id/{{item.id}}">{{item.name}}</h5>
                    <div><span>Price: </span>{{item.price}}</div>
                    <p>{{item.description}}</p>
                    <!-- If logged in -->
                    <div *ngIf="isSessionAuthed; else elseBlock">
                        <div *ngIf="!checkIfItemIsInCart(item.id); else elseBlock">
                            <button [disabled]="isLoading" (click)="addToCart(item)">
                                <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                                Add To Cart
                            </button>
                        </div>
                        <ng-template #elseBlock>
                            <p>This item is in your cart</p>
                        </ng-template>
                    </div>
                    <ng-template #elseBlock>
                        <p>Please log in to your account to add to your cart</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </ul>
</div>