<div class="jumbotron jumbotron-fluid py-5" @fade>
    <div class="container text-center px-4 px-lg-5 my-5">
        <h1 class="display-4">Catalog</h1>
        <p class="lead">Handcrafted products, just for you.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div *ngIf="items.length == 0" class="container text-center px-4 px-lg-5 my-5">
            <div *ngIf="isLoading">
                <span class="spinner-grow spinner-grow-lg mr-1"></span>
                <p>Fetching the sheep...</p>
                <div class="row row-cols-1 row-cols-md-5">
                    <app-placeholder-object [type]="placeHolderTypes.Item"></app-placeholder-object>
                    <app-placeholder-object [type]="placeHolderTypes.Item"></app-placeholder-object>
                    <app-placeholder-object [type]="placeHolderTypes.Item"></app-placeholder-object>
                    <app-placeholder-object [type]="placeHolderTypes.Item"></app-placeholder-object>
                    <app-placeholder-object [type]="placeHolderTypes.Item"></app-placeholder-object>
                </div>
            </div>
            <div *ngIf="!isLoading">
                <p>We're sorry. It looks like there are no products under this category.</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-5">
            <app-item *ngFor="let item of items" [item]="item" [isItemInCart]="checkIfItemIsInCart(item)" @fade @zoom></app-item>
        </div>
    </div>
</div>